VNOI_ROOT = "root"
VNOI_USER_PROMPT = "Username: "
VNOI_PASSWD_PROMPT = "Password: "
VNOI_DEFAULT_USERNAME = "icpc"
VNOI_DEFAULT_PASSWORD = "icpc"
VNOI_LOGIN_ENDPOINT = "https://vpn.vnoi.info/auth/auth/login"
VNOI_CONFIG_ENDPOINT = "https://vpn.vnoi.info/user/vpn/config"
VNOI_WIREGUARD_DIR = "/etc/wireguard"
VNOI_PAM_LOGFILE = "/var/log/vnoi_pam.log"
