# Name the version. Otherwise we'll default to testMMDD.
VERSION="v1.0.0"

WEBSERVER_PUBLIC_ADDRESS=""  # Example: 255.255.255.255
WEBSERVER_PUBLIC_DOMAIN_NAME="" # Example: contest2.icpc.info

VPN_CORE_ADDRESS=""  # Example: 255.255.255.255
VPN_CORE_DOMAIN_NAME="vpn.vnoi.info"  # Do not change

CONTEST_SITE_ADDRESS=""  # Example: 10.1.0.1
CONTEST_SITE_DOMAIN_NAME=""  # Example: contest.icpc.info

ADMIN_SUBNET="10.1.0.0/16"
COACH_SUBNET="10.20.0.0/16"

# Name of the audio device used for streaming (Example: "Intel 82801AA-ICH - MIC ADC", can be a glob pattern)
# "any" will be the first available hardware capture device
# "system" will be the default device of the system
AUDIO_DEVICE_NAME="any"

# If AUDIO_DEVICE_SOURCE is provided, AUDIO_DEVICE_NAME check is bypassed and AUDIO_DEVICE_SOURCE will be used directly
# AUDIO_DEVICE_SOURCE="alsa://plughw:1,0"
