# Name the version. Otherwise we'll default to testMMDD.
VERSION=""
# Set a password, also used in GRUB. Otherwise we'll default to ansible.
SUPER_PASSWD=""

# Password for realm
REALM_PASSWD=""

# IP for Active Directory Domain Controller
AD_DC_IP=""